/**
 * Robin Website v2.0.0 (https://robinjulius.com)
 */
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700';

html, body {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
  font-weight: 400;
  color: #333;
}

a { color: #2980b9; }
a:hover, a:focus { color: #54aff0; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { color: #06274b; }

h2.section-heading {
	margin: 35px 0;
	color: rgba(6, 39, 75, 0.55);
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
	h2 { font-size: 1.3rem; }
}

@media (max-width: 767px) {
	h2 { font-size: 1rem; }
}

/**
	Misc
*/
.divider-before::before, .divider-after::after {
	display: block;
	width: 80px;
	height: 1px;
	background: #d6d6d6;
}
	.divider-before::before { content: ""; margin: 0 auto 15px; }
	.divider-after::after { content: ""; margin: 15px auto 0; }

/**
	Hero
*/
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
	margin: 0 0 8px;
	font-size: 3.5rem;
	font-weight: 100;
	text-transform: uppercase;
}

#hero .specialty { margin: 8px 0; }

#hero h2 {
	display: inline;
	font-size: 1.6rem;
	font-weight: 300;
}
	#hero h2::after { content: ""; margin-right: 55px; }
	#hero h2:last-child::after { content: ""; margin-right: 0; }

#hero .links { font-size: 1.25rem; margin-top: 18px; }
#hero .links a { margin-right: 40px; }
	#hero .links a:last-child { margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
	#hero h1 { font-size: 3rem; }
	#hero h2::after { content: ""; margin-right: 40px; }
}

@media (max-width: 767px) {
	#hero { padding: 10px; }
	#hero h1 { margin-bottom: 25px; font-size: 2rem; }
	#hero h2 { display: block; margin-top: 10px; font-size: 1.4rem; }
	#hero h2::after { content: ""; margin-right: 0; }

	#hero .links a { display: block; margin-right: 0; font-size: 1rem; }
}

.scroll-for-more {
	position: absolute;
	bottom: 25px;
	font-size: 0.8rem;
}
.scroll-for-more i { margin-right: 12px; }

@media (max-width: 767px) {
	#social a { margin-right: 15px; }
	.scroll-for-more { font-size: 0.6rem; }
}

/**
	Projects
*/
#projects { padding: 30px 0 0; }

.project-item { padding: 30px 0; }
.project-item .image img { height: 400px; }
.project-item .text { padding-top: 100px; }
.project-item .divider-after::after { content: ""; margin: 30px auto 0; }

.project-item.right .image img {
	height: 400px;
	margin: 0;
	margin-left: 0;
}

.row-grey {
	margin: 30px 0;
	overflow: hidden;
	background: #fafafa;
}
.row-grey .project-item { padding: 0 0 55px; }

.project-item#collectstor-website .image img { margin-left: -250px; }
.project-item#collectstor-app .image img { height: 500px; }
.project-item#collectstor-app .text { padding-left: 80px; }
.project-item#last-cigarette-app .image img {
	height: 350px;
	margin-top: 50px;
	margin-left: -50px;
}

.project-item .project-logo,
.project-item .app-icon {
	margin-bottom: 20px;
}
.project-item #collectstor-logo.project-logo { max-height: 50px; }
.project-item .app-icon { height: 100px; border-radius: 15px; }

@media (min-width: 992px) and (max-width: 1199px) {
	.project-item#collectstor-app .image img { height: 450px; }
	.project-item#collectstor-app .text { padding-left: 30px; }
	.project-item#last-cigarette-app .image img {
		height: 300px;
		margin-top: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.project-item .image img { height: 300px; }
	.project-item .text { padding-top: 50px; }
	.project-item#collectstor-app .image img { height: 350px; }
	.project-item#collectstor-app .text { padding-left: 30px; }
	.project-item#last-cigarette-app .image img {
		height: 280px;
		margin-top: 50px;
		margin-left: -120px;
	}
}

@media (max-width: 767px) {
	.row-grey .project-item { padding: 35px 0; }

	.project-item .image img {
		width: 100% !important;
		height: auto !important;
		margin: 0 !important;
	}
	.project-item .text { padding-top: 30px; }
	.project-item#collectstor-app .text { padding-left: 15px; }

	.project-item .project-logo,
	.project-item .app-icon {
		margin-bottom: 20px;
	}
}

/**
	Personal Projects
*/
#personal-projects { padding-top: 30px; padding-bottom: 30px; }
.card {}
.card h3 { font-size: 1rem; }
.card p { font-size: 0.9rem; }

.project-icon { width: 60px; border-radius: 10px; }
.coding-language-container { margin-bottom: 25px; }
.coding-language {
	margin-right: 12px;
	padding: 2px 8px;
	background: #d5e6f6;
	border-radius: 4px;
	color: #777;
	font-size: 0.7rem;
}
	.coding-language:last-child { margin-right: 0; }

@media (max-width: 767px) {
	.card { margin-bottom: 40px; }
}

/**
	Resume
*/
#resume { padding: 30px 0; }

/**
	Contact
*/
#contact { padding: 30px 0 90px; }
.contact-email {
	margin-bottom: 40px;
	font-size: 3.5rem;
	font-weight: 100;
	text-align: center;
}

#social { text-align: center; }
#social p { font-size: 0.8rem; font-weight: 700; }
#social a { color: #06274b; font-size: 1.8rem; margin-right: 35px; }
	#social a:hover, #social a:focus { color: #2980b9; }
	#social a:last-child { margin: 0; }

@media (max-width: 767px) {
	.contact-email { font-size: 1.8rem; }
	#social a { font-size: 1.5rem; }
}

/**
	Map
*/
#my-location { background-color: #f2f2f2; }
#my-location #map {
  width: 100%;
  height: 300px;
}

#my-location .marker-container { width: 235px; }
#my-location .marker { width: 30px; float: left; }
#my-location i.fa-map-marker {
  color: #063053;
}
#my-location .text {
  width: 200px;
  float: right;
  margin-top: 18px;
  padding: 8px;
  background: rgba(41, 128, 185, 0.9);
  color: #fff;
  font-size: 0.85rem;
  font-weight: 100;
  border-radius: 4px;
}

@media (max-width: 767px) {
  #my-location .marker-container { width: 180px; }
}

/**
	Thanks
*/
#thanks { padding: 120px 0; text-align: center; }
#thanks h2 { display: inline; color: #2980b9; }
	#thanks h2::after { content: ""; margin-right: 30px; }
	#thanks h2:last-child::after { content: ""; margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  #thanks { padding: 40px 0; }
  #thanks h2 { display: block; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

@media (max-width: 767px) {
	#thanks { padding: 40px 0; }
  #thanks h2 { display: block; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

/**
	Not Found (404)
*/
#not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#not-found div { margin-top: -50px; }
#not-found h1 { font-size: 4rem; font-weight: bold; text-transform: uppercase; }
#not-found h3 { font-size: 2.5rem; }
#not-found p { font-size: 1.3rem;  }

footer { padding-bottom: 20px; font-size: 0.8rem; }
