/**
 * Robin Website v1.0.0 (https://robinjulius.com)
 */
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400';

html, body {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
  font-weight: 400;
}

a { color: #2980b9; }
a:hover, a:focus { color: #54aff0; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { color: #06274b; }

/**
	Hero
*/
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .main-section { margin-top: -80px; }

#hero h1 {
	margin: 0 0 8px;
	font-size: 3.2rem;
	font-weight: 100;
	text-transform: uppercase;
}

#hero .specialty { margin: 8px 0 25px; }
#hero h2 {
	display: inline;
	font-size: 1.4rem;
	font-weight: 300;
}
	#hero h2::after {
		content: "";
		margin-right: 55px;
	}
	#hero h2:last-child::after { content: ""; margin-right: 0; }

#hero .links a { margin-right: 30px; }

@media (min-width: 768px) and (max-width: 991px) {
	#hero h1 { font-size: 2.8rem; }
	#hero h2 { font-size: 1.3rem; }
	#hero h2::after { content: ""; margin-right: 40px; }
}

@media (max-width: 767px) {
	#hero { padding: 10px; }
	#hero h1 { margin-bottom: 25px; font-size: 1.6rem; }
	#hero h2 { display: block; font-size: 1rem; margin-top: 10px; }
	#hero h2::after { content: ""; margin-right: 0; }

	#hero .links a { display: block; margin-right: 0; font-size: 0.8rem; }
}

#social {
	position: absolute;
	top: 15px;
	right: 25px;
}
#social a { color: #06274b; margin-right: 25px; }
	#social a:hover, #social a:focus { color: #2980b9; }
	#social a:last-child { margin: 0; }

.scroll-for-more {
	position: absolute;
	bottom: 25px;
	font-size: 0.75rem;
}
.scroll-for-more i { margin-right: 12px; }

@media (max-width: 767px) {
	#social a { margin-right: 15px; }

	.scroll-for-more { font-size: 0.6rem; }
}

/**
	Map
*/
#my-location {
  background-color: #f2f2f2;
  z-index: 5;
}

#my-location #map {
  width: 100%;
  height: 300px;
}

#my-location .marker-container { width: 235px; }
#my-location .marker { width: 30px; float: left; }
#my-location i.fa-map-marker {
  color: #063053;
}
#my-location .text {
  width: 200px;
  float: right;
  margin-top: 18px;
  padding: 8px;
  background: rgba(41, 128, 185, 0.9);
  color: #fff;
  font-size: 0.7rem;
  font-weight: 100;
  border-radius: 4px;
}

@media (max-width: 767px) {
  #my-location .marker-container { width: 180px; }
}

/**
	Thanks
*/
#thanks { padding: 120px 0; text-align: center; }
#thanks h2 { display: inline; color: #2980b9; }
	#thanks h2::after { content: ""; margin-right: 30px; }
	#thanks h2:last-child::after { content: ""; margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  #thanks { padding: 60px 0; }
  #thanks h2 { display: block; font-size: 1.3rem; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

@media (max-width: 767px) {
	#thanks { padding: 40px 0; }
  #thanks h2 { display: block; font-size: 1rem; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

/**
	Not Found (404)
*/
#not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#not-found div { margin-top: -50px; }
#not-found h1 { font-size: 4rem; font-weight: bold; text-transform: uppercase; }
#not-found h3 { font-size: 2.5rem; }
#not-found p { font-size: 1.3rem;  }

footer { padding-bottom: 20px; font-size: 0.6rem; }
	footer::before {
		content: "";
		display: block;
		width: 80px;
		height: 1px;
		margin: 0 auto 20px;
		background: #d6d6d6;
	}
