/**
 * Robin Website v2.0.0 (https://robinjulius.com)
 */
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400';

html, body {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
  font-weight: 400;
}

a { color: #2980b9; }
a:hover, a:focus { color: #54aff0; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { color: #06274b; }

@media (min-width: 768px) and (max-width: 991px) {
	h2 { font-size: 1.3rem; }
}

@media (max-width: 767px) {
	h2 { font-size: 1rem; }
}

/**
	Misc
*/
.divider-before::before, .divider-after::after {
	display: block;
	width: 80px;
	height: 1px;
	background: #d6d6d6;
}
	.divider-before::before { content: ""; margin: 0 auto 15px; }
	.divider-after::after { content: ""; margin: 15px auto 0; }

/**
	Hero
*/
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .main-section { }

#hero h1 {
	margin: 0 0 8px;
	font-size: 3.5rem;
	font-weight: 100;
	text-transform: uppercase;
}

#hero .specialty { margin: 8px 0; }

#hero h2 {
	display: inline;
	font-size: 1.6rem;
	font-weight: 300;
}
	#hero h2::after { content: ""; margin-right: 55px; }
	#hero h2:last-child::after { content: ""; margin-right: 0; }

#hero .links { font-size: 1.25rem; margin-top: 18px; }
#hero .links a { margin-right: 40px; }
	#hero .links a:last-child { margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
	#hero h1 { font-size: 3rem; }
	#hero h2::after { content: ""; margin-right: 40px; }
}

@media (max-width: 767px) {
	#hero { padding: 10px; }
	#hero h1 { margin-bottom: 25px; font-size: 2rem; }
	#hero h2 { display: block; margin-top: 10px; font-size: 1.4rem; }
	#hero h2::after { content: ""; margin-right: 0; }

	#hero .links a { display: block; margin-right: 0; font-size: 1rem; }
}

#social {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 1.15rem;
}
#social a { color: #06274b; margin-right: 25px; }
	#social a:hover, #social a:focus { color: #2980b9; }
	#social a:last-child { margin: 0; }

.scroll-for-more {
	position: absolute;
	bottom: 25px;
	font-size: 0.8rem;
}
.scroll-for-more i { margin-right: 12px; }

@media (max-width: 767px) {
	#social a { margin-right: 15px; }
	.scroll-for-more { font-size: 0.6rem; }
}

/**
	Projects
*/
#projects { padding: 50px 0; }

.project-item { padding: 30px 0; }
.project-item .image img { max-height: 400px; margin-left: -250px; }
.project-item .text { padding-top: 100px; }

.project-item.right .image img {
	max-height: 400px;
	margin-left: 0;
	margin-right: -250px;
}
.project-item#collectstor-app .image img { max-height: 570px; }
.project-item#collectstor-app .text { padding-left: 170px; }

.project-item .project-logo, .project-item .app-icon { margin-bottom: 20px; }
.project-item #collectstor-logo.project-logo { max-height: 50px; }
.project-item #collectstor-app-icon.app-icon { max-height: 100px; border-radius: 15px; }

@media (min-width: 768px) and (max-width: 991px) {
	.project-item .image img { max-height: 300px; }
	.project-item .text { padding-top: 50px; }
	.project-item#collectstor-app .image img { max-height: 400px; margin-left: 0; margin-right: 0; }
	.project-item#collectstor-app .text { padding-left: 30px; }
}

@media (max-width: 767px) {
	.project-item .image img { width: 100%; height: auto; margin: 0; }
	.project-item .text { padding-top: 30px; }
	.project-item#collectstor-app .text { padding-left: 15px; }
}

/*
.project-item { padding: 30px 0; }
.project-item .image { float: left; width: 40%; margin-left: -200px; }
.project-item .image img { max-height: 400px; }
.project-item .text {
	float: right;
	width: 60%;
	margin-top: 100px;
}

.project-item.right .image { float: right; margin-right: -200px; }
.project-item.right .text {
	float: left;
	width: 500px;
	margin-top: 100px;
}
.project-item#collectstor-app .image img { max-height: 600px; }
.project-item#collectstor-app .text { margin-left: 200px; }

.project-item .project-logo, .project-item .app-icon { margin-bottom: 20px; }
.project-item #collectstor-logo.project-logo { max-height: 50px; }

.project-item #collectstor-app-icon.app-icon { max-height: 100px; border-radius: 15px; }

@media (min-width: 768px) and (max-width: 991px) {
	.project-item .image img { max-height: 270px; }
	.project-item#collectstor-app .image img { max-height: 350px; }
	.project-item .text { width: 420px; margin-top: 40px; }
	.project-item#collectstor-app .text { margin-left: 50px; }
}

@media (max-width: 767px) {
	.project-item .image, .project-item .text {
		display: inline-block;
		width: auto;
		height: auto;
		margin: 0;
	}
	.project-item .image { margin-bottom: 30px; }
}
*/
/**
	Map
*/
#my-location { background-color: #f2f2f2; }
#my-location #map {
  width: 100%;
  height: 300px;
}

#my-location .marker-container { width: 235px; }
#my-location .marker { width: 30px; float: left; }
#my-location i.fa-map-marker {
  color: #063053;
}
#my-location .text {
  width: 200px;
  float: right;
  margin-top: 18px;
  padding: 8px;
  background: rgba(41, 128, 185, 0.9);
  color: #fff;
  font-size: 0.85rem;
  font-weight: 100;
  border-radius: 4px;
}

@media (max-width: 767px) {
  #my-location .marker-container { width: 180px; }
}

/**
	Thanks
*/
#thanks { padding: 120px 0; text-align: center; }
#thanks h2 { display: inline; color: #2980b9; }
	#thanks h2::after { content: ""; margin-right: 30px; }
	#thanks h2:last-child::after { content: ""; margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  #thanks { padding: 40px 0; }
  #thanks h2 { display: block; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

@media (max-width: 767px) {
	#thanks { padding: 40px 0; }
  #thanks h2 { display: block; }
  	#thanks h2::after { content: ""; margin-right: 0; }
}

/**
	Not Found (404)
*/
#not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#not-found div { margin-top: -50px; }
#not-found h1 { font-size: 4rem; font-weight: bold; text-transform: uppercase; }
#not-found h3 { font-size: 2.5rem; }
#not-found p { font-size: 1.3rem;  }

footer { padding-bottom: 20px; font-size: 0.8rem; }
